<!DOCTYPE html>
<html>
<head>
  <title>Pamer</title>
  <%= stylesheet_link_tag    "pamer/application", media: "all" %>
  <%= javascript_include_tag "pamer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
